<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>投稿内容</th>
			<th>投稿日時</th>
			<th>更新日時(返信追加)</th>
			<th>機能</th>
			<th>返信内容</th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td th:text="${#dates.format(content.createdDate, 'yyyy/MM/dd HH:mm:ss')}">
			<td th:text="${#dates.format(content.updatedDate, 'yyyy/MM/dd HH:mm:ss')}">
			<td>
				<a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button></a>
				<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
					<input type="submit" value="削除">
				</form>
				<a th:href="@{comment/new/{id}(id=${content.id})}"><button type="button">返信</button></a>
			</td>
			<td>
	        	<div th:each="comment : ${comments}">
	        		<div th:if="${content.id == comment.reportId}">
	             		<div>
	        				<a th:href="@{comment/edit/{id}(id=${comment.id})}" th:text="'・' + ${comment.content}"></a>
	             		</div>
	             	</div>
	             </div>
			</td>
		</tr>
	</table>
	<div>
		<br>
		<div>投稿日時で検索</div>
		<form action="/search" method="get">
			<input type = "date" name = "startDate" value = "${startDate}" >
			～
			<input type = "date" name = "endDate" value = "${endDate}">
			<input type="submit" value="検索">
		</form>
	</div>
</body>
</html>